body{
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
}
.main-header{
	background-color: #eeeeee;
	margin-bottom: 55px;
}
.container{
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::after{
	content: "";

	display: table;
	clear: both;
}
.header{
	padding-top: 49px; 
}
	.logo{
		float: left;
	}
	.logo a:hover{
		opacity: 0.8;
	}
	.logo a:active{
		opacity: 0.3;
	}
	.main-menu{
		float: left;
		margin-left: 180px;
		max-width: 560px;
	}
	.main-menu ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.main-menu li{
		display: inline-block;
	}
	.main-menu li a{
		display: block;
		padding: 16px 0;
		margin: 0 22px;
		padding-top: 29px;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
	}
	.main-menu li a:hover{
		color: #fb565a;
	}
	.main-menu li a:active{
		color: rgba(0, 0, 0, 0.3);
		/*opacity: 0.3;*/
	}
	.main-menu .active,
	.basket .active{
		position: relative;
	}
	.main-menu .active a:hover,
	.basket .active a:hover{
		color: #000000;
	}
	.main-menu .active::after,
	.basket .active::after{
		content: "";

		position: absolute;
		/*width: 100%;*/
		height: 2px;
		right: 22px;
		bottom: 8px;
		left: 22px;
		
		background: #fb565a;
	}
	.basket{
		float: right;
		max-width: 160px;
	}
	.basket a{
		position: relative;
		display: block;
		padding: 16px 0;
		padding-top: 29px;
		padding-left: 40px;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
	}
	.basket a:hover{
		color: #fb565a;
	}
	.basket a:active{
		color: #bdbdbd;
	}
	.basket a::before{
		content: "";

		position: absolute;
		top: 33px;
		left: 0;
		width: 15px;
		height: 15px;
		background: url(../img/sprite.png) no-repeat -10px -10px;
	}
	.btn{
		display: inline-block;
		padding: 19px 40px;
		font-size: 16px;
		font-weight: 500;
		line-height: 18px;
		font-family: "Roboto", Arial, sans-serif;
		vertical-align: top;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 3px;
		border: none;
		background: #fb565a;
	}
	.btn:hover{
		background: #e74246;
		}
	.btn:active{
		color: rgba(255, 255, 255, 0.3);
		background-color: #d7373b;
		box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
		}
	/*слайдер*/
	.slider{
		position: relative;
	}
		.slider-inner{
			overflow: hidden;
		}
		.slider-slides{
			width: 300%;
			
		}
		.slider-slides>div{
			float: left;
			width: 1160px;
			height: 431px;
		}
		.slider input[type=radio] {
		    display:none;
		}
		.slider-controls{
			display: inline-block;
			position: absolute;
			z-index: 20;
			bottom: 96px;
			left: 50%;
			transform: translate(-50%);
		}
		.slider-controls label {
		    display: inline-block;
		    width: 18px;
		    height: 18px;
		    margin: 0 7px;
		    cursor: pointer;
		    border-radius:50%;
		    background-color: #ffffff;
		}
		#btn-1:checked ~ .slider-controls label[for="btn-1"],
		#btn-2:checked ~ .slider-controls label[for="btn-2"],
		#btn-3:checked ~ .slider-controls label[for="btn-3"]{
			position: relative;
			background-color: #fff;
		}
		#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
		#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
		#btn-3:checked ~ .slider-controls label[for="btn-3"]::before{
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			width: 4px;
			height: 4px;
			border:2px solid #c1c1c1;
			border-radius: 50%;
			background-color: white;
		}
		#btn-1:checked ~ .slider-inner .slider-slides {
		    transform: translate(0);
		}

		#btn-2:checked ~ .slider-inner .slider-slides {
		    transform: translate(-1160px);
		}

		#btn-3:checked ~ .slider-inner .slider-slides {
		    transform: translate(-2320px);
		}
		.slide1{
			position: relative;
		}
		.slide1 img{
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
		.slide1 .column-left{
			float: left;
			width: 550px;
		}
		.slide1 h1{
			display: block;
			font-size: 55px;
			line-height: 55px;
			margin-top: 70px;
			margin-bottom: 27px; 
		}
		.slide1 p{
			display: block;
			margin-top: 0px;
			line-height: 24px;
		}
		.slide1 .btn{
			margin-top: 25px;
			padding: 16px 54px;
			text-align: center;
			
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 500;
		}
	/*слайдер*/
	.inner-name-page{
		float: left;
		margin-top: 35px;
		margin-bottom: 70px;
		width: 1160px;
	}
	.inner-name-page h1{
		font-size: 55px;
		line-height: 55px;
		font-weight: 500;
		text-align: center;
	}
/*end header*/
.main{
}
	.services{
		padding-bottom: 80px;
	}
	
	.services-ell{
		margin-right: 100px;
		float: left;
		width: 300px;
		
	}
	.services-ell img{
		margin-bottom: -15px;
	}
	.services-ell h4{
		margin-bottom: 0; 
		font-size: 24px;
		line-height: 30px;
		vertical-align: top;
		text-transform: uppercase;
	}
	.services-ell p{
		margin-bottom: 33px;
		letter-spacing: 0;
	}
	.services-ell .btn{
		padding: 16px 40px;
	}
	.application .btn{
		background: #00ca74;
	}
	.application .btn:hover{
		background: #00bc6c;
	}
	.application .btn:active{
		color: rgba(255, 255, 255, 0.3);
		background: #00aa62;
		box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
	}
	.presentation .btn{
		background: #efc84a;
	}
	.presentation .btn:hover{
		background: #eab534;
	}
	.presentation .btn:active{
		color: rgba(255, 255, 255, 0.3);
		background: #e5a722;
		box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
	}
	.presentation{
		margin-right: 0;
	}
	.line{
		border-bottom: 2px solid #eeeeee;
	}
	.about-us{
		padding-bottom: 50px;
	}
	.about-us .column-left{
		float: left;
		width: 680px;
	}
	.capiton{
		margin-top: 75px; 
		margin-bottom: 30px;
		font-size: 45px;
		line-height: 45px;
		font-weight: 500;
	}
	.about-us p{
		margin-bottom: 40px;
	}
	.about-us b{
		font-weight: 700;
		text-transform: uppercase;
	}
	.about-us ul{
		margin-top: 24px;
		list-style: none;
	}
	.about-us li{
		position: relative;
		margin-left: -2px;
		margin-bottom: 24px; 
	}
	.about-us li::before{
		content: "";
		position: absolute;
		width: 25px;
		height: 2px;
		left: -36px;
		top: 12px;
		background: #fb565a;
	}
	.about-us .column-right{
		float: right;
		width: 360px;
	}
	.about-us img{
		margin-top: -20px;
		margin-bottom: 30px;
	}
	.accuracy{
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
	.percent-ell{
		display: inline-block;
		margin-right: 23px;
		width: 95px;
	}
	.percent-ell:nth-child(3n){
		margin-right: 0;
	}
	.percent-ell h2{
		font-size: 45px;
	}
	.percent-ell span{
		vertical-align: 19px;
		font-size: 25px;
	}
	.percent-description{
		margin-top: -10px;
	}
	.clients{
		padding-top: 50px;
		padding-bottom: 44px;
		font-size: 0;
	}
	.clients ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.clients li{
		position: relative;
		display: inline-block;
		padding-right: 20px;
		padding-left: 20px;
	}
	.clients li:first-child{
		padding-left: 0;
	}
	.clients li:nth-child(4n){
		padding-right: 0;
	}
	.clients li::after{
		content: "1";
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		width: 2px;
		height: 52px;
		border-right: 2px solid #eeeeee;
		opacity: 1;
	}
	.clients li:nth-child(4n)::after{
		display: none;
	}
	.client{
		position: relative;
		display: block;
		width: 260px;
		line-height: 52px;
		text-align: center;
		font-size: 16px;
		opacity: 0.2;
	}
	.client:hover{
		opacity: 1;
	}
	.client:active{
		opacity: 0.1;
	}
	.client img{
		line-height: 52px;
		vertical-align: middle;
	}
	.catalog-filter{
		float: left;
		width: 260px;
	}
	/*ранжировка цен*/
		.range-price{
			margin-top: 45px;
			margin-bottom: 14px;
		}
		.background{
			position: relative;
			width: 260px;
			height: 80px;
			background: #eeeeee;
			border-radius: 2px;
		}
		.range{
			position: absolute;
			top: 39px;
			left: 20px;
			width: 220px;
			height: 2px;
			background: #d7dcde;
		}
		.range2{
			position: absolute;
			top: 39px;
			left: 20px;
			width: 151px;
			height: 2px;
			background: #00ca74;
		}
		.min,
		.max{
			position: absolute;
			top: 30px;
			left: 18px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #ababab;
			border: 8px solid #ffffff; 
			box-shadow: 0 2px 0 0 #cccdcd;
		}
		.max{
			left: 160px;
		}
		
	/*ранжировка цен*/
	.catalog-filter ul{
		list-style: none;
		padding: 0;
	}
	.catalog-filter li{
		/*padding-bottom: 24px;*/
	}
	.catalog-filter fieldset{
		padding: 0;
		border: none;
		margin-bottom: 40px;
	}
	.catalog-filter legend{
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 30px;
		vertical-align: top;
		font-weight: bold;
		text-transform: uppercase;
	}
	.catalog-filter input[type="text"]{
		width: 80px;
		height: 38px;
		margin-left: 11px;
		border-radius: 2px;
		border: none;
		background-color: #eeeeee;
		text-align: center;
	}
	.catalog-filter input[type="text"]:first-of-type{
		margin-right: 18px;
	}
/*стилизация radio*/
	.catalog-filter input[type="radio"]{
		display: none;
	}
	.catalog-filter input[type="radio"] + label{
		position: relative;
		display: block;
		margin: 11px 0;
		padding-left: 36px;
		color: #283136;
		line-height: 25px; 
		vertical-align: middle;
	}
	.catalog-filter input[type="radio"] + label::before{
		content: "";
		position: absolute;
		top:0;
		left: 0;
		width: 17px;
		height: 17px;
		border: 4px solid rgba(77, 77, 77, 0.4);
		border-radius: 50%;
	}
	.catalog-filter input[type="radio"]:checked + label::after{
		content: "";
		position: absolute;
		top: 8px;
		left: 8px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: rgba(77, 77, 77, 0.4);
	}
	.catalog-filter input[type="radio"] + label:hover{
		color: #000000;
	}
	.catalog-filter input[type="radio"] + label:hover::before{
		content: "";
		border: 4px solid rgba(77, 77, 77, 1);
	}
	.catalog-filter input[type="radio"]:checked + label:hover::after{
		content: "";
		background: rgba(77, 77, 77, 1);
	}
	.catalog-filter input[type="radio"]:disabled + label{
		color: rgba(40, 49, 54, 0.3);
	}
	.catalog-filter input[type="radio"]:disabled + label::before{
		content: "";
		border: 4px solid rgba(77, 77, 77, 0.1);
	}
	.catalog-filter input[type="radio"]:checked:disabled + label::after{
		content: "";
		background: rgba(77, 77, 77, 0.1);
	}
/*стилизация radio*/
/*стилизация checkbox*/
	.catalog-filter input[type="checkbox"]{
		display: none;
	}
	.catalog-filter input[type="checkbox"] + label{
		position: relative;
		display: block;
		margin: 11px 0;
		padding-left: 36px;
		color: #283136;
		line-height: 25px; 
		vertical-align: middle;
	}
	.catalog-filter input[type="checkbox"] + label::before{
		content: "";
		position: absolute;
		top:0;
		left: 0;
		width: 23px;
		height: 23px;
		background: url(../img/checkbox-off.png) no-repeat;
		opacity: 0.4;
	}
	.catalog-filter input[type="checkbox"]:checked + label::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 26px;
		height: 23px;
		border:none;
		background: url(../img/checkbox-on.png) no-repeat;
		opacity: 0.4;
	}
	.catalog-filter input[type="checkbox"] + label:hover{
		color: #000000;
	}
	.catalog-filter input[type="checkbox"] + label:hover::before{
		content: "";
		background: url(../img/checkbox-off.png) no-repeat;
		opacity: 1;
	}
	.catalog-filter input[type="checkbox"]:checked + label:hover::before{
		content: "";
		background: url(../img/checkbox-on.png) no-repeat;
		opacity: 1;
	}
	.catalog-filter input[type="checkbox"]:disabled + label{
		color: rgba(40, 49, 54, 0.3);
	}
	.catalog-filter input[type="checkbox"]:disabled + label::before{
		content: "";
		background: url(../img/checkbox-off.png) no-repeat;
		opacity: 0.3;
	}
	.catalog-filter input[type="checkbox"]:checked:disabled + label::before{
		content: "";
		background: url(../img/checkbox-on.png) no-repeat;
		opacity: 0.3;
	}
/*стилизация checkbox*/
	.catalog-filter .btn{
		width: 100%;
		padding: 16px 0;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		color: #000000;
		background: #eeeeee;
		border-radius: 3px;
		cursor: pointer;
	}
	.catalog-filter .btn:hover{
		background: #dfdfdf;
	}
	.catalog-filter .btn:active{
		color: rgba(0, 0, 0, 0.3);
		background: #d5d5d5;
		box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1)
	}
	.column-right{
		float: right;
		width: 760px;
	}
	.sort b{
		display: block;
		float: left;
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
	}
	.sorting{
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
	}
	.sorting li{
		display: inline-block;
		margin-left: 20px;
	}
	.sorting li:nth-child(1){
		margin-left: 0;
	}
	.sorting li:nth-last-child(2){
		margin-left: 40px;
	}
	.sorting li:nth-last-child(1){
		margin-left: 15px;
	}
	.sorting a{
		padding: 0;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		vertical-align: bottom;
		color: rgba(0, 0, 0, 0.3);
		background: none;
	}
	.sorting a:hover{
		color: rgba(0, 0, 0, 0.6);
		background: none;
	}
	.sorting a:active{
		color: #000000;
		background: none;
		box-shadow: none;
	}
	.sorting .active a{
		color: #000000;
	}
	.cards{
		font-size: 0;
		margin-top: 60px;
	}
	.card{
		position: relative;
		display: inline-block;
		width: 360px;
		height: 576px;
		margin-top: 40px;
		margin-right: 40px;
		margin-bottom: 36px;
		font-size: 16px;
		vertical-align: top;
	}
	.card img{
		width: 360px;
		height: 576px;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
	}
	.card:nth-child(2n){
		margin-right: 0;	
	}
	.card::before{
		content: "";
		position: absolute;
		top: -40px;
		width: 360px;
		height: 40px;
		background: url(../img/browser.png) no-repeat;
		opacity: 0.12;
	}
	.description{
		position: absolute;
		display: none;
		bottom: 0;
		left: 0;
		width: 300px;
		min-height: 162px;
		padding: 35px 30px;
		padding-bottom: 43px;
		background-color: #eeeeee;
		text-align: center;
	}
	.description b{
		margin-bottom: 25px;
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
	}
	.description p{
		margin-bottom: 30px;
		line-height: 20px;
	}
	.description .btn{
		padding: 16px 60px;
	}
	.description .btn:active{
		color: #ffffff;
	}
	.card:hover img{
		width: 360px;
		height: 576px;
		border: none;
		box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
	}
	.card:hover .description{
		display: block;
	}
	.card:hover::before{
		opacity: 1;
	}
	
	.page-btn{
		display: inline-block;
		margin-top: 24px;
		margin-right: 11px;
		width: 50px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 50px;
		vertical-align: top;
		text-align: center;
		color: #000000;
		text-decoration: none;
		border-radius: 3px;
		background: #eeeeee;
	}
	.page-btn:hover{
		background: #dfdfdf;
	}
	.page-btn:active{
		color: rgba(0, 0, 0, 0.3);
		background: #d5d5d5;
		box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
	}
	.paginator .active{
		line-height: 50px;
		height: 50px;
		width: 50px;
		color: #000000;
		background: #ffffff;
		border: 3px solid #dbdbdb;
		box-shadow: none;
		box-sizing: border-box;
	}
	.next,
	.prev{
		width: 260px;
	}


/*end main*/
.main-footer{
	margin-top: 80px;
}
	.adress img{
		margin-left: -140px;

	}
	.adress{
		position: relative;
	}
	.mark{
		position: absolute;
		top: 89px;
		left: 820px;
	}
	.write-us{
		position: absolute;
		left: 0;
		top: 54px;
		width: 219px;
		height: 208px;
		background-color:#ffffff;
		padding: 50px
	}
	.write-us b{
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
	}
	.write-us p{
		margin-bottom: 10px;
		line-height: 18px;
		color: #666666;
	}
	.write-us .btn{
		margin-top: 31px;
		padding: 16px 44px;
		padding-left: 45px;
	}
	/*всплывающее окно*/
	.form-write-us{
		position: fixed;
		left: 50%;
		bottom: 180px;
		transform: translate(-50%);
		display: none; /* убрать чтобы увидеть, пока не активированы скрипты */
		padding-top: 73px;
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 84px;
		width: 760px;
		max-height: 590px;
		background: #ffffff;
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
	}
	.form-write-us b{
		font-size: 45px;
	}
	.left{
		float: left;
		margin-top: 50px;
		width: 360px;
	}
	.left:first-child{
		margin-right: 40px;
	}
	.form-write-us label{
		font-weight: bold;
	}
	.form-write-us input[type="text"],
	.form-write-us input[type="email"]{
		width: 330px;
		line-height: 18px;
		margin-top: 13px;
		padding: 15px 13px;
		border: 2px solid #d7dcde;
		border-radius: 3px;
	}
	.text{
		float: left;
		margin-top: 35px;
	}
	.form-write-us textarea{
		width: 728px;
		height: 86px;
		padding: 14px;
		margin-top: 13px;
		border: 2px solid #d7dcde;
		border-radius: 3px;
	}
	.form-write-us input[type="text"],
	.form-write-us input[type="email"],
	.form-write-us textarea{
		font-family: "Roboto", Arial, sans-serif;
		font-size: 16px;
		color: #b1b1b1;
	}
	.form-write-us input[type="text"]:hover,
	.form-write-us input[type="email"]:hover,
	.form-write-us textarea:hover{
		color: #b4b9bb;
		border: 2px solid #b4b9bb;
	}
	.form-write-us input[type="text"]:focus,
	.form-write-us input[type="email"]:focus,
	.form-write-us textarea:focus{
		color: #000000;
		border: 2px solid #000000;
	}
	.form-write-us input[type="text"]:invaled,
	.form-write-us input[type="email"]:invalid,
	.form-write-us textarea:invalid{
		color: #e74246;
		border: 2px solid #e74246;
	}
	.modal-content-close{
		position: absolute;
		top: 78px;
		right: 90px;
		width: 21px;
		height: 21px;

		font-size: 0;
		background: none;
		border: none;
		cursor: pointer;
	}
	.modal-content-close::before,
	.modal-content-close::after{
		content: "";
		position: absolute;
		top: 8px;
		left: -3px;
		width: 26px;
		height: 4px;
		background: #fecccd;
		border-radius: 1px;
	}
	.modal-content-close::before {
		transform: rotate(45deg);
	}

	.modal-content-close::after {
		transform: rotate(-45deg);
	}
	.modal-content-close:hover::before,
	.modal-content-close:hover::after{
		background: #fb565a;
	}
	.modal-content-close:active::before,
	.modal-content-close:active::after{
		background: #ffeeee;
	}
	.form-write-us .btn{
		margin-top: 48px;
		padding: 16px 84px; 
	}
	/*всплывающее окно*/
	.social-btn{
		float: left;
		margin-top: 69px;
		margin-bottom: 69px;
	}
	.social-btn a{
		display: inline-block;
		margin-right: 12px;
		width: 79px;
		height: 79px;
		font-size: 0;
		background-color: #e1e1e1;
		border-radius: 50%;
	}
	.social-vk{
		position: relative;
	}
	.social-vk::before{
		content: "";
		position: absolute;
		top: 32px;
		left: 26px;
		width: 26px;
		height: 15px;
		background: url(../img/sprite.png) no-repeat -10px -129px;
	}
	.social-fb{
		position: relative;
	}
	.social-fb::before{
		content: "";
		position: absolute;
		top: 29px;
		left: 34px;
		width: 12px;
		height: 22px;
		background: url(../img/sprite.png) no-repeat -10px -46px;
	}
	.social-in{
		position: relative;
	}
	.social-in::before{
		content: "";
		position: absolute;
		top: 29px;
		left: 29px;
		width: 21px;
		height: 21px;
		background: url(../img/sprite.png) no-repeat -10px -88px;
	}
	.social-btn a:hover{
		background: #e74246;
	}
	.social-btn a:active{
		background: #d7373b;
	}
	.social-btn a:active::before{
		content: "";
		opacity: 0.3;
	}
	.friends{
		float: left;
		margin-left: 120px;
		margin-top: 82px;
	}
	.friends h3{
		font-size: 36px;
		line-height: 36px;
		padding: 0;
		margin: 0;
	}
	.friends p{
		margin-top: 10px; 
		line-height: 22px;
		color: #444444;
	}